<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.exam_project">

    <uses-permission
        android:name="android.permission.AUTHENTICATE_ACCOUNTS"
        android:maxSdkVersion="22" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_icon_java10"
        android:label="Exam app"
        android:roundIcon="@drawable/ic_icon_java10"
        android:supportsRtl="true"
        android:theme="@style/Theme.Examproject">
        <activity android:name=".Winner"></activity>
        <activity android:name=".Lost" />
        <activity android:name=".JSONParser" />
        <activity android:name=".UpdateAccount" />
        <activity android:name=".Settings" />
        <activity android:name=".TestRandom" />
        <activity android:name=".Probleme" />
        <activity android:name=".GrileMain" />
        <activity android:name=".Status" />
        <activity android:name=".MainMenu" />
        <activity android:name=".Signup" />
        <activity android:name=".Login" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>